<!DOCTYPE html>
<html>
<body style="background-color: #222222;">
	<center><h1 style="color: #eeeeee;">My Home Chat Channel, welcome {{request.user}}!</h1></center>
	<br>
	{% if request.user.is_authenticated %}
	<center style="color: #eeeeee;"> Logout the chat Page <a href = "{% url 'logout-user' %}">Logout</a></center>
	{% endif %}
	<div style="display:none" id="username" value="{{request.user}}"></div>
	<div style="width:50%;display:flex;align-items: left;" id="outer_container">
	<div
	class="chat__item__container"
	id="id_chat_item_container"
	style="font-size: 20px">
	<br />
	<input type="text" id="id_message_send_input" />
	<button type="submit" id="id_message_send_button">Send Message</button>
	<button type="submit" id="coffee_request">Coffee?</button>
	<button type="submit" id="tea_request">Tea?</button>
	<button type="submit" id="door_request">Door please</button>
	<br />
	<br />
	</div>
	</div>
	<script>
	const chatSocket = new WebSocket("ws://" + window.location.host + "/");
	chatSocket.onopen = function (e) {
		console.log("The connection was setup successfully !");
	};
	chatSocket.onclose = function (e) {
		console.log("Something unexpected happened !");
	};
	document.querySelector("#id_message_send_input").focus();
	document.querySelector("#id_message_send_input").onkeyup = function (e) {
		if (e.keyCode == 13) {
		document.querySelector("#id_message_send_button").click();
		}
	};
	document.querySelector("#id_message_send_button").onclick = function (e) {
		var messageInput = document.querySelector(
		"#id_message_send_input"
		).value;
		chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
	};
	document.querySelector("#coffee_request").onclick = function (e) {
		var messageInput = 'Anybody wants coffee?';
		chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
	};
	document.querySelector("#tea_request").onclick = function (e) {
		var messageInput = 'Anybody wants tea?';
		chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
	};
	document.querySelector("#door_request").onclick = function (e) {
		var messageInput = 'I am unavailable, could someone check the door?';
		chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
	};
	let username = document.getElementById('username').getAttribute('value');
	console.log(username);
	chatSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		var div = document.createElement("div");
		div.style="order: 1; margin-left: auto; display: inline-block;background-color: #dddddd;border: thin solid #0000dd;padding:5px;border-radius: 10px;margin-bottom:5px;";
		if(data.username==username)
		{
			div.style="order: 1; margin-left: auto; display: inline-block;background-color: #ddffdd;border: thin solid #0000dd;padding:5px;border-radius: 10px;margin-bottom:5px;margin-left:60%;";
		}
		div.innerHTML = "<b>"+data.username +"</b>:<br>" + data.message;
		document.querySelector("#id_message_send_input").value = "";
		document.querySelector("#id_chat_item_container").appendChild(div);
		br = document.createElement("br");
		document.querySelector("#id_chat_item_container").appendChild(br);
	};
	</script>
</body>
</html>
